<div navigation></div>

<!-- *****************************************************************************************************************
 HEADERWRAP
 ***************************************************************************************************************** -->

<div id="headerwrap">
    <div class="container">
    <div class="row"> <!--  class="col-lg-8 col-lg-offset-2" taken from header text div-->
      <div id="headertext">
        <h3>Better Together</h3>
        <h1>&#60; DIVERSITY.KOUNTS &#62;</h1>
        <h5>Tech Diversity Initiative Tracker</h5>
      </div>
      <!-- <div class="col-lg-8 col-lg-offset-2 himg">
        <img src="https://image.freepik.com/free-vector/spheres-with-people_1214-116.jpg" class="img-responsive">
      </div> -->
    </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->


<!-- *****************************************************************************************************************
 SERVICE LOGOS
 ***************************************************************************************************************** -->
 <div id="service">
  <div class="container">
    <div class="centered">


    <!-- Everyday there are millions of meetings going on across the world that  -->
    <h3>Today in Silicon Valley and Tech communites across the country, diversity is the conversation we're all having.
    The goal of Diversity Kounts is to give every member of the tech community a platform to participate in furthering this new initiative in technology by completing our surveys in hopes of accomplishing 3 things: <br></h3>
  </div>
    <!-- The undersigned companies are committed to taking each of these three essential actions:
 implement and publish company-specific goals to recruit, retain, and advance diverse
technology talent, and operationalize concrete measures to create and sustain an inclusive
culture;
 annually publish data and progress metrics on the diversity of our technology
workforce across functional areas and seniority levels;
 invest in partnerships to build a diverse pipeline of technology talent to increase our
ability to recognize, develop and support talent from all backgrounds.
We encourage more companies to sign this Tech Inclusion Pledge at tech-inclusion.org.  -->
    <br>
    <br>
    <div class="row centered">
      <div class="col-md-4">
        <i class="fa fa-heart-o"></i>
        <h4>Inclusion</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
      </div>
      <div class="col-md-4">
        <i class="fa fa-flask"></i>
        <h4>Data</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
      </div>
      <div class="col-md-4">
        <i class="fa fa-line-chart"></i>
        <h4>Quality</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <!-- <p><br/><a href="#" class="btn btn-theme">More Info</a></p> -->
      </div>
    </div>
  </div>
 </div>



<!-- *****************************************************************************************************************
 CAROUSEL SECTION
 ***************************************************************************************************************** -->


<div id="caro">  <!-- was class= container no id or caro -->
 <div class="row">
   <div class='col-md-offset-2 col-md-8 text-center'>
   <h2>VOICES FOR CHANGE</h2>
   </div>
 </div>
 <div class='row'>
   <div class='col-md-offset-2 col-md-8'>
     <div class="carousel slide" data-ride="carousel" id="quote-carousel">
       <!-- Bottom Carousel Indicators -->
       <ol class="carousel-indicators">
         <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
         <li data-target="#quote-carousel" data-slide-to="1"></li>
         <li data-target="#quote-carousel" data-slide-to="2"></li>
       </ol>

       <!-- Carousel Slides / Quotes -->
       <div class="carousel-inner">

         <!-- Quote 1 -->
         <div class="item active">
           <blockquote>
             <div class="row">
               <div class="col-sm-3 text-center">
                 <img class="img-circle" src="../images/ceo-ellen-pao.jpg" style="width: 100px;height:100px;">
                 <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
               </div>
               <div class="col-sm-9">
                 <p>If we do not share our stories and shine a light on inequities, things will not change.</p>
                 <small> Ellen Pao, Former CEO of Reddit</small>
               </div>
             </div>
           </blockquote>
         </div>
         <!-- Quote 2 -->
         <div class="item">
           <blockquote>
             <div class="row">
               <div class="col-sm-3 text-center">
                 <img class="img-circle" src="../images/jeff-bezos.jpg" style="width: 100px;height:100px;">
               </div>
               <div class="col-sm-9">
                 <p>We’re a company of builders whose diverse backgrounds, ideas, and points of view are critical to helping us invent on behalf of all our customers. But it’s not only that diversity and inclusion are good for our business. It’s more fundamental than that — it’s simply right.</p>
                 <small>Jeff Bezos, Chief Executive Officer of Amazon</small>
               </div>
             </div>
           </blockquote>
         </div>
         <!-- Quote 3 -->
         <div class="item">
           <blockquote>
             <div class="row">
               <div class="col-sm-3 text-center">
                 <img class="img-circle" src="../images/sarah-friar.jpg" style="width: 100px;height:100px;">
               </div>
               <div class="col-sm-9">
                 <p>A diversity of thought, perspective and culture is important in any field, not just engineering. Surround yourself with people who support you and get involved in [coding] programs.</p>
                 <small>Sarah Friar, Chief Financial Officer at Square</small>
               </div>
             </div>
           </blockquote>
         </div>
       </div>

       <!-- Carousel Buttons Next/Prev -->
       <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
       <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
     </div>
   </div>
 </div>
</div>


<!-- *****************************************************************************************************************
 MIDDLE CONTENT
 ***************************************************************************************************************** -->

 <div class="container mtb">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-1">
      <h4>More About Our Mission.</h4>
      <p>In June of 2016 more than 30 tech companies made a commitment to the White House to track and set workforce diversity goals, coined the <a href="https://www.whitehouse.gov/sites/whitehouse.gov/files/images/Blog/Tech-Inclusion-Pledge-Letter-6-22-16.pdf">Tech Inclusion Pledge</a>.
        A pledge by each to make their workforce more representative of the public it services.
    <br>
      We'd like to do our part as well </p>
      <p><br/><a href="about.html" class="btn btn-theme">More Info</a></p>
    </div>

    <div class="col-lg-3">
      <h4>Pledge Companies</h4>
      <div class="hline"></div>
      <p><a href="#">blah?</a></p>
      <p><a href="#">blah?</a></p>
      <p><a href="#">blah?</a></p>
      <p><a href="#">blah</a></p>
      <p><a href="#">blah</a></p>
    </div>

    <div class="col-lg-3">
      <h4>Dedictated To Tech Diversity</h4>
      <div class="hline"></div>
      <p><a href="single-post.html">Our new site is live now.</a></p>
      <p><a href="single-post.html">Retina ready is not an option.</a></p>
      <p><a href="single-post.html">Bootstrap 3 framework is the best.</a></p>
      <p><a href="single-post.html">You need this theme, buy it now.</a></p>
      <p><a href="single-post.html">This theme is what you need.</a></p>
    </div>

  </div><!--/row -->
</div><!--/container -->


<!-- *****************************************************************************************************************
 OUR PARTNERS
 ***************************************************************************************************************** -->
 <div id="cwrap">
   <div class="container">
    <div class="row centered">
      <h2>JOIN US IN MAKING OUR COMMUNITY AND THE FUTURE MORE INCLUSIVE! </h2>
     <div class='col-md-offset-2 col-md-8 text-center'>
       <p>Only together can we ensure that we continue on the legacy of this great nation - where only our unified contributions from men and women of all creeds and colors create a brighter future for us all.</p>
    </div>

      <!-- <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="assets/img/clients/client01.png" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="assets/img/clients/client02.png" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="assets/img/clients/client03.png" class="img-responsive">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="assets/img/clients/client04.png" class="img-responsive">
      </div> -->
    </div>
   </div>
 </div>

<!-- *****************************************************************************************************************
 FOOTER
 ***************************************************************************************************************** -->
<div footer></div>

 <script>
   // Portfolio
   // When the DOM is ready, run this function
   $(document).ready(function() {
   //Set the carousel options
     $('#quote-carousel').carousel({
       pause: true,
       interval: 4000,
     });
   });
 </script>
