<div navigation></div>

<div class="container">
  <div class="row login_box">
    <div class="col-md-12 col-xs-12 login_control survey">

<div ng-repeat="userReport in userReports | orderBy: 'dateSubmit'">
  <div class="row">
    <div class="col-sm-3 control-label">Name of Meeting:</div>
    <div class="col-sm-9 standard-text">{{ userReport.meetingName }}</div>
  </div>
  <div class="row">
    <div class="col-sm-3 control-label">Meeting Date and Time:</div>
    <div class="col-sm-9 standard-text">{{ userReport.meetingDateTime | date: 'short' }}</div>
  </div>
  <div class="row">
    <div class="col-sm-3 control-label">Location:</div>
    <div class="col-sm-9 standard-text">{{ userReport.meetingLocation }}</div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3">
      <button class='btn btn-blue' ng-click='veiwDetail(userReport._id)'>View survey details</button>
    </div>
  </div>
  <div class="row">
    <hr width="90%">
  </div>
</div>
    </div>
  </div>
</div>

<!-- *****************************************************************************************************************
FOOTER
***************************************************************************************************************** -->
<div footer></div>

<!-- code start  -->
<script>
$( "#show" ).click(function() {
  $( "#hidden" ).show( "slow" );
});
</script>
<!--  -->
