<div navigation></div>

<!-- start body -->
<!-- Need: Name Age Gender (check box) race (check box, choose not to ans), email, pass, confirm pass, confirm older than 13 checkbox [they get email on auto by registering], submit button
on click submit redirect from reg page to login page with a login page function if sent from register page show message (thanks for registering, please log in using your email and pass) -->

<div class="container">
            <form ng-submit='signup(user)' name='signupForm' class="form-horizontal" role="form">
                <h2>Please Register</h2>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model='user.firstName' id="firstName" placeholder="First Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model='user.lastName' id="lastName" placeholder="Last Name" class="form-control" autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" ng-model='user.email' ng-required='required' id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" ng-model='user.password' ng-required='required' id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="date" ng-model='user.dateOfBirth' id="birthDate" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">Position</label>
                    <div class="col-sm-9">
                        <select ng-model='user.occupation' id="country" class="form-control">
                            <option value=' '>- please select closest option from list-</option>
                            <option value='front end developer'>Front End Developer</option>
                            <option value='back end developer'>Back End Developer</option>
                            <option value='full stack developer'>Full Stack Developer</option>
                            <option value='scrum master'>Scrum Master</option>
                            <option value='designer'>Designer</option>
                            <option value='angel investor'>Angel Investor</option>
                            <option value='marketing'>Marketing</option>
                            <option value='other'>Other</option>
                            <option value=' '></option>
                        </select>
                    </div>
                </div>
                <!-- ALEX EDIT -->

                <!-- <form> -->
                  <!-- <br> -->
                  <div class="form-group">
                    <label for ="ethnic" class="col-sm-3 control-label text-center" >Latin or Hispanic?</label>
                    <div class="col-sm-9">
                    <select ng-model='user.isLatin' id ="ethnic" name="select" class="form-control">
                      <option value="No Answer">- please select from list -</option>
                      <option value="Hispanic">Yes</option>
                      <option value="non-Hispanic">No</option>
                      <option value="No Answer">Prefer not to answer</option>
                    </select>
                  </div>
                  </div>
                  <!-- <br> -->
                    <div class="form-group">
                    <label for ="race" class="col-sm-3 control-label" ><!--  <legend> -->Race<!-- </legend> --></label>
                      <div class="col-sm-9">
                      <input ng-model='user.race.black' id="black, african american" type="checkbox" name="race" value="black, african american">
                      <label for="black, african american">Black, African American</label><br>
                      <input ng-model='user.race.asian' id="asian or pacific islander" type="checkbox" name="race" value="asian or pacific islander">
                      <label for="asian or pacific islander">Asian or Pacific Islander</label><br>
                      <input ng-model='user.race.white' id="white, caucasian" type="checkbox" name="race" value="white, caucasian">
                      <label for="white, caucasian">White, Caucasian</label><br>
                      <input ng-model='user.race.native' id="native america or indigenous" type="checkbox" name="race" value="native america or indigenous">
                      <label for="native america or indigenous">Native America or Indigenous</label><br>
                      <input ng-model='user.race.other' id="other" type="checkbox" name="race" value="other">
                      <label for="other">Other</label><br>
                      <input ng-model='user.race.na' id='no answer' type="checkbox" name='race' value='no answer'>
                      <label for='no answer'>Prefer not to answer</label>
                      </div>
                    </div>

                <!-- </form> -->

                <!-- /.form-group -->
                <!--
                <div class="form-group">
                    <label class="control-label col-sm-3">Gender</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="femaleRadio" value="Female">Female
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="maleRadio" value="Male">Male
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="uncknownRadio" value="Unknown">Other
                                </label>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="form-group">
                    <label for="country" class="col-sm-3 control-label">Gender</label>
                    <div class="col-sm-9">
                        <select ng-model='user.gender' id="country" class="form-control">
                    <option value="No Answer">- please select from list -</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Other">Other</option>
                    <option value="No Answer">Prefer not to answer</option>
                  </select>
                </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                      <div class='checkbox'>
                        <label>
                            <input type="checkbox" ng-model='user.is13OrOlder' ng-required='required'>By clicking here, I verify that I am atleast 13 years of age.
                        </label>
                      </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-required='required'>Check here to indicate that you have read and agree to the <a href="/#/terms">terms of service</a>
                            </label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>






            </form> <!-- /form -->
        </div> <!-- ./container -->



<!-- *****************************************************************************************************************
 FOOTER
 ***************************************************************************************************************** -->
 <div footer></div>
